.container {
  background-color: #ffffff;
  height: 100%;
  margin: 0 auto;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
  padding-top: $containerPadding * 1.5;
  padding-bottom: $containerPadding * 0.5;
  position: relative;
  top: 50px;
  width: $bodyWidth;
}

.new-tweet {
  background: #eee;
  border-radius: $tweetPadding * 0.5;
  border: 1px solid #111;
  display: none;
  margin-bottom: 1em;
  padding: $tweetPadding;

  textarea {
    height: 80px;
    margin-bottom: $tweetPadding;
    padding: $tweetPadding * 0.5;
    width: 100%;
  }

  h2 {
    border-bottom: 1px solid #888;
    margin-top: 0;
    padding-bottom: $tweetPadding * 0.5;
  }

  input:hover {
    cursor: pointer;
  }

  .counter {
    float: right;
  }
}

.tweet {
  border-radius: $tweetPadding * 0.5;
  border: 1px solid #999;
  margin-bottom: 1em;
  opacity: 0.8;

  &:hover{
    border: 1px solid #222;
    opacity: 1.0;

    .fa {
      display: inline-block;
      float: right;
      padding-left: $tweetPadding * 0.5;
    };
  }
}

.tweet-header {
  background: #eee;
  border-radius: $tweetPadding * 0.5 $tweetPadding * 0.5 0 0;
  padding-left : $tweetPadding;
  padding-right : $tweetPadding;
  position: relative;
}

.tweet-thumbnail {
  border-radius: $tweetPadding * 0.5;
  float: left;
  margin-top: 13px;
}

.tweet-handle {
  position: absolute;
  right: $tweetPadding;
  top: 26px;
}

.tweet-name {
  font-size: 150%;
  display: inline-block;
  padding-left: $tweetPadding;
}

.tweet-body {
  padding-left: $tweetPadding;
  padding-right: $tweetPadding;
  word-wrap: break-word;
}

.tweet-footer {
  border-top: 1px solid #ddd;
  color: #888;
  font-weight: 200;
  font-size: 75%;
  padding: $tweetPadding;
}

.tweet-timestamp {
  display: inline-block;
}

.fa {
  display: none;
}
