#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 40px;
  line-height: 2;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}
